@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#E5E5E5;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
p {
    text-align: justify;
}
h1 {
    margin-bottom: 0;
}
h2 {
    text-align: center;
}

header {
    background-color: #ffd166;
    margin-bottom: 0;
    padding: 20px;
    border-bottom: 3px solid black;

}

.navbar {
    background-color: #FF6B6B;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid black;
   
}
.navbar-brand svg {
    height: 30px;
    width: auto;
    display: block; 
  }

  .navbar-nav .nav-item a:hover {
    color: white;
    text-shadow: 1px 1px 0 black;
  }
  main {
    flex: 1;
  }
  footer {
    height: auto;
    width: 100%;
    background-color: #ffd166;
    border-top: 3px solid black;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    bottom: 0;
  }
  footer a, footer p {
    text-align: center;
    font-size: 2rem;
  }
  .maps {
    border: 6px solid #FF6B6B;
    border-radius: 20px;
  }
  i {
    color: #FF6B6B;
  }
  i:hover {
    color: #e04747;
  }
  .custom-btn {
    color:white;
    background-color: #FF6B6B;
    text-shadow: 1px 1px 1px black;
    border: 2px solid black;
  }
  .custom-btn:hover {
    color:white;
    background-color: #e04747;
    border: 2px solid black;

  }
  .jumbotron {
    border: 6px solid #FF6B6B;
    border-radius: 20px;
  }
  .card-img-top {
    height: 200px; 
    object-fit: cover;
  }
  .card {
    text-align: left;
    border: 6px solid #FF6B6B;
    border-radius: 20px;
  }
  .carousel-inner img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 500px;
    border: 6px solid #FF6B6B;
    border-radius: 20px;
}
#fit_logo {
  object-fit: contain;
  background-color: #ffd166;
}
#placeholder {
  background-color: #ffd166;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #FF6B6B;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 5px solid #FF6B6B;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #FF6B6B;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #FF6B6B;
}

.custom-caption {
  text-align: center;
  color: #e04747;
}
.custom-caption h5 {
  font-size: 2rem;
}

.custom_card {
  background-color: #ffd166;
  text-align: center;
}
.custom_card p {
  text-align: center;
}
#fit_picture{
  width: 100%;
  border: 5px solid #FF6B6B;
  border-radius: 20px;
}
.progress {
  height: 30px;
  border: 5px solid #FF6B6B;
  margin: 1rem;
  background-color: #ffd166;
}
.custom_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.progress-bar {
  background-color: #FF6B6B; 
  height: 100%;
}
.accordion-item {
  background-color: #ffd166;
  border: 6px solid #FF6B6B;
  border-radius: 20px;
  z-index: -1;
}
.accordion-header {
  background-color: #FF6B6B;
}
.accordion-button {
  background-color: #ffd166;
  border: 6px solid #FF6B6B;
  border-radius: 20px;
}
.accordion-button:not(.collapsed) {
  background-color: #FF6B6B; 
  color: white;
}
form {
  border: 2px solid #FF6B6B;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="reset"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #FF6B6B;
  border-radius: 10px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #FF6B6B;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #ff4d4d;
}

table {
  width: 100%;
  border: 2px solid #FF6B6B;
  border-spacing: 0;
  border-radius: 10px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid #FF6B6B;
  padding: 8px;
  text-align: center;
  background-color: #ffd166;
}

th {
  background-color: #FF6B6B;
  color: white;
}

#my_video {
  border: 8px solid #FF6B6B;
  border-radius: 10px;
  Width: 276px;
  Height: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: #FF6B6B;
}
a:hover {
  color: #e04747;
  text-decoration: underline ;
}