@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#E5E5E5;
    font-family: 'Roboto Slab', serif;
    
}

header {
    background-color: #ffd166;
}

.navbar {
    background-color: #FF6B6B;
    position: fixed;
    width: 100%;
    
}
.navbar-brand svg {
    height: 30px;
    width: auto;
    display: block; 
  }