@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#E5E5E5;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
p {
    text-align: justify;
}
h1 {
    margin-bottom: 0;
}
h2 {
    text-align: center;
}

header {
    background-color: #ffd166;
    margin-bottom: 0;
    padding: 20px;
    border-bottom: 3px solid black;

}

.navbar {
    background-color: #FF6B6B;
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 3px solid black;
   
}
.navbar-brand svg {
    height: 30px;
    width: auto;
    display: block; 
  }

  .navbar-nav .nav-item a:hover {
    color: white;
    text-shadow: 1px 1px 0 black;
  }
  main {
    flex: 1;
  }
  footer {
    height: auto;
    width: 100%;
    background-color: #ffd166;
    border-top: 3px solid black;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    bottom: 0;
  }
  footer a, footer p {
    text-align: center;
    font-size: 2rem;
  }
  .maps {
    border: 6px solid #FF6B6B;
    border-radius: 20px;
  }
  i {
    color: #FF6B6B;
  }
  i:hover {
    color: #e04747;
  }